
    *{
    padding: 0;
    margin: 0;
    
}

body{ 

    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./image/ocean.jpg);
    background-size:cover;
   
}
.row{
 display: flex;
 flex-direction: row;
 color: white;
 margin: 30px 60px;
 font-size: 20px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.home{
    color: yellow;
}
.margin{
    margin: auto 10px;
    text-decoration: none;
    list-style-type: none;
}
.margin:hover{
    color: rgb(178, 233, 175);
    cursor: pointer;
    font-size: 18px;
    transition: all 0.8s ;


}
#home,p{
margin:30px auto;
text-align: center;  
border: solid rgba(3, 17, 3, 0.2) 3px ; 
color: rgb(233, 225, 225) ;
font-family:'Courier New', Courier, monospace;
}
.yellow{
    color: yellow !important;
}

#home:hover{
    cursor: pointer;
    color: rgb(163, 235, 134) !important;
    border: solid rgba(3, 17, 3, 0.5) 2px ; 
    transition: all 0.8s ;


}
#Bk_color{
    background-color: rgba(0, 0,0, 0.7);
    padding: 3px 0px;
    
}
p{
    width: 95%;
    line-height:25px;
    font-size: 90%;
    font-family: cursive;
    text-align: justify;
   

}   
p:hover{
    transition: all 0.3s ease-in;
    color:rgb(240, 176, 176);

}
#img{
float: left;
margin:40px 20px 0px 20px;
border-radius: 10px;
box-shadow: 6px 10px 15px;

}

#img:hover{
width: 350px;
opacity: 0.9;

}

#float{
text-align:center;
margin-left: 50px;
opacity: 0.6;

font-size: 20px;
color: greenyellow;
font-family: cursive;
}

#float:hover{
    color: red;
    transition: 0.4s ease-in;
    }
    
    footer{
        font-size: 20px;
        font-family:cursive;
        clear: both;
        text-align: center;
        border-bottom: solid white 2px;
      width: 200px;
        justify-content: center;        
        margin-left: 600px;
    }
    footer:hover{
        color: rgb(6, 209, 50);
        transition: all 0.5s ease-in;

    } 
 
    /* LIFE IN TH WILD */
    #life{
        text-align: center;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(171, 218, 211);
        font-size: 2em;
        /* border-bottom: solid red 1px; */
        width: 300px;
        margin-left: 500px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 4px 4px 7px black;
    }

    #life:hover{
        color: palevioletred;
        transition: all 0.3s ease-in;

    }

    .pixel {
        width: 380px;
        height: 320px;
        border-radius: 15px;
        padding: 10px;
    }
    .pixel:last-child{
        margin-bottom: 13px;
    }
  
    .pixel:hover{
        width: 382px;
        opacity: 0.8;
        border-radius: 30px;
        transition: all 0.6s ease-in;
        transform:scale(1.1);

    }
    .container{
    background-color: rgba(0, 0, 08,0.7)  ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;

    
    }
  